.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  color: white;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid white;
}
td,th{
  padding: 10px 20px;
}

.mode_column{
  border:none;
  padding: 0px 20px; 
}